<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Personal CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- Owl -->
    <link rel="stylesheet" href="https://cdn.boomcdn.com/libs/owl-carousel/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdn.boomcdn.com/libs/owl-carousel/2.3.4/assets/owl.theme.default.min.css">
    <!-- /Owl -->
    <title>dino.it - All products</title>
</head>

<body>
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light py-2 py-md-4 mt-2 mt-md-0 sticky-top">
        <div class="container">
            <a class="navbar-brand" href="#"> <img id="logo" class="pr-2" width="80px" src="./media/logo.png"
                    alt="logo"><span class="h3 title-name">dino.it</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar"
                aria-expanded="false" aria-label="Toggle navigation">
                <span> <i class="fas fa-bars"></i> </span>
            </button>
            <div class="collapse navbar-collapse text-center" id="mainNavbar">
                <ul class="navbar-nav  mt-4 mt-md-0 mx-0 mx-md-auto">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">Categoria 1<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">Categoria 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">Categoria 3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">Categoria 4</a>
                    </li>
                </ul>
                <a data-toggle="modal" data-target="#signInModal" class="nav-link text-dark ml-0 ml-md-auto"
                    href="#">Accedi <span class="sr-only">(current)</span></a>
                <a class="nav-link text-dark" href="#">Registrati</a>
                <button class="btn btn-orange my-2 my-sm-0"> <i class="fas fa-plus mr-1"></i> Inserisci
                    annuncio</button>
            </div>
        </div>
    </nav>
    <header class="not-main">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="col-12 col-lg-8 d-flex flex-wrap justify-content-center">
                    <h1 class="text-white font-weight-bold mb-3 mb-md-0 text-center order-first">Ecco tutti i
                        prodotti della categoria {{category}}</h1>
                    <a data-toggle="modal" data-target="#searchModal"
                        class="custom-link text-white mt-3 back-to-search"><i class="fas fa-search mr-2"></i>Torna alla
                        ricerca</a>
                </div>
            </div>
        </div>
        <svg id="" preserveAspectRatio="xMidYMax meet" class="svg-separator sep5" viewBox="0 0 1600 200"
            style="display: block;" data-height="200">
            <polygon class="" style="fill: rgb(255, 255, 255);"
                points="1488,134 1304,100 1068,152 909.935,92.044 672,198 364,142 242,32 -4,95 -4,204 1604,204 1604,0 ">
            </polygon>
            <polygon class="" style="opacity: 1;fill: #95a5a6;"
                points="672,198 364,142 242,32 -4,95 -4,82.333 242,32 374,136 "></polygon>
            <polygon class="" style="opacity: 1;fill: #95a5a6;" points="894,86 672,198 909.935,92.044 "></polygon>
            <polygon class="" style="opacity: 1;fill: #6c7a89;"
                points="1068,152 1302,86 1486,126 1604,0 1488,134 1304,100 "></polygon>
        </svg>
    </header>
    <main>
        <div class="container my-4">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <hr>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-3">
                    <button class="btn btn-blue-border w-100 d-lg-none mb-3" type="button" data-toggle="collapse"
                        data-target="#filterBar"><i class="fas fa-arrows-alt-v mr-2"></i>Filtra ricerca</button>
                    <div class="filter-bar mb-4" id="filterBar">
                        <h5>Filtri ricerca</h5>
                        <div class="input-group my-md-4">
                            <label class="form-control" for="checkTitle">Cerca nel titolo</label>
                            <div class="input-group-append">
                                <div class="input-group-text custom-checkbox">
                                    <input id="checkTitle" type="checkbox">
                                </div>
                            </div>
                        </div>
                        <form class="my-md-4">
                            <div class="form-group">
                                <label for="formControlRange">Filtra per prezzo</label>
                                <input min="0" max="1000" value="0" type="range" class="custom-range"
                                    id="filterControlRange">
                                <p id="priceRange" class="text-right"></p>
                            </div>
                        </form>
                        <form>
                            <label>Filtra per Era:</label>
                            <hr class="my-md-1">
                            <div class="form-check mb-md-1">
                                <input class="form-check-input" type="checkbox" name="exampleRadios" id="raceFilterOne"
                                    value="option1">
                                <label class="form-check-label" for="raceFilterOne">
                                    Neozoica
                                </label>
                            </div>
                            <div class="form-check mb-md-1">
                                <input class="form-check-input" type="checkbox" name="exampleRadios" id="raceFilterTwo"
                                    value="option2">
                                <label class="form-check-label" for="raceFilterTwo">
                                    Mesozoica
                                </label>
                            </div>
                            <div class="form-check mb-md-1">
                                <input class="form-check-input" type="checkbox" name="exampleRadios"
                                    id="raceFilterThree" value="option3">
                                <label class="form-check-label" for="raceFilterThree">
                                    Paleozoica
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-12 col-lg-9">
                    <div class="horizzontal-card mt-5 mt-md-0 mb-5">
                        <div class="row">
                            <div class="col-12 col-md-5">
                                <a class="custom-link" href="#">
                                    <img class="img-fluid corner-radius" src="https://picsum.photos/400"
                                        alt="immagine prodotto">
                                </a>
                            </div>
                            <div class="col-12 col-md-7 pl-md-0 d-flex flex-column justify-content-center">
                                <div class="mt-4">
                                    <a class="custom-link" href="#">
                                        <h3 class="d-inline">Product title</h3>
                                    </a><i class="far fa-heart float-right loved-item"></i>

                                </div>
                                <a class="custom-link" href="#">
                                    <p class="lead my-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                        Repellat
                                        dignissimos quos dolorum, facilis dolores doloremque, quis fugit tenetur sed
                                        totam
                                        molestiae error praesentium maiores dolor enim aliquam ad omnis consequatur.
                                    </p>
                                </a>
                                <div class="row mt-2">
                                    <div class="col-12 col-md-6">
                                        <div class="my-2 text-center"><i class="far fa-eye text-blue"></i><span
                                                class="ml-2 small text-danger">32 persone stanno guardando</span></div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <button class="btn btn-reverse w-100"><i class="far fa-comment-dots"></i><span
                                                class="ml-2">Contatta il venditore</span></button>
                                        <button class="btn btn-blue-border w-100 my-2 d-md-none"><i
                                                class="far fa-grin-stars"></i><span class="ml-2">Visualizza
                                                prodotto</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="horizzontal-card mt-5 mt-md-0 mb-5">
                        <div class="row">
                            <div class="col-12 col-md-5">
                                <a class="custom-link" href="#">
                                    <img class="img-fluid corner-radius" src="https://picsum.photos/400"
                                        alt="immagine prodotto">
                                </a>
                            </div>
                            <div class="col-12 col-md-7 pl-md-0 d-flex flex-column justify-content-center">
                                <div class="mt-4">
                                    <a class="custom-link" href="#">
                                        <h3 class="d-inline">Product title</h3>
                                    </a><i class="far fa-heart float-right loved-item"></i>

                                </div>
                                <a class="custom-link" href="#">
                                    <p class="lead my-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                        Repellat
                                        dignissimos quos dolorum, facilis dolores doloremque, quis fugit tenetur sed
                                        totam
                                        molestiae error praesentium maiores dolor enim aliquam ad omnis consequatur.
                                    </p>
                                </a>
                                <div class="row mt-2">
                                    <div class="col-12 col-md-6">
                                        <div class="my-2 text-center"><i class="far fa-eye text-blue"></i><span
                                                class="ml-2 small text-danger">32 persone stanno guardando</span></div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <button class="btn btn-reverse w-100"><i class="far fa-comment-dots"></i><span
                                                class="ml-2">Contatta il venditore</span></button>
                                        <button class="btn btn-blue-border w-100 my-2 d-md-none"><i
                                                class="far fa-grin-stars"></i><span class="ml-2">Visualizza
                                                prodotto</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="horizzontal-card mt-5 mt-md-0 mb-5">
                        <div class="row">
                            <div class="col-12 col-md-5">
                                <a class="custom-link" href="#">
                                    <img class="img-fluid corner-radius" src="https://picsum.photos/400"
                                        alt="immagine prodotto">
                                </a>
                            </div>
                            <div class="col-12 col-md-7 pl-md-0 d-flex flex-column justify-content-center">
                                <div class="mt-4">
                                    <a class="custom-link" href="#">
                                        <h3 class="d-inline">Product title</h3>
                                    </a><i class="far fa-heart float-right loved-item"></i>

                                </div>
                                <a class="custom-link" href="#">
                                    <p class="lead my-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                        Repellat
                                        dignissimos quos dolorum, facilis dolores doloremque, quis fugit tenetur sed
                                        totam
                                        molestiae error praesentium maiores dolor enim aliquam ad omnis consequatur.
                                    </p>
                                </a>
                                <div class="row mt-2">
                                    <div class="col-12 col-md-6">
                                        <div class="my-2 text-center"><i class="far fa-eye text-blue"></i><span
                                                class="ml-2 small text-danger">32 persone stanno guardando</span></div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <button class="btn btn-reverse w-100"><i class="far fa-comment-dots"></i><span
                                                class="ml-2">Contatta il venditore</span></button>
                                        <button class="btn btn-blue-border w-100 my-2 d-md-none"><i
                                                class="far fa-grin-stars"></i><span class="ml-2">Visualizza
                                                prodotto</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="horizzontal-card mt-5 mt-md-0 mb-5">
                        <div class="row">
                            <div class="col-12 col-md-5">
                                <a class="custom-link" href="#">
                                    <img class="img-fluid corner-radius" src="https://picsum.photos/400"
                                        alt="immagine prodotto">
                                </a>
                            </div>
                            <div class="col-12 col-md-7 pl-md-0 d-flex flex-column justify-content-center">
                                <div class="mt-4">
                                    <a class="custom-link" href="#">
                                        <h3 class="d-inline">Product title</h3>
                                    </a><i class="far fa-heart float-right loved-item"></i>
                                </div>
                                <a class="custom-link" href="#">
                                    <p class="lead my-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                        Repellat
                                        dignissimos quos dolorum, facilis dolores doloremque, quis fugit tenetur sed
                                        totam
                                        molestiae error praesentium maiores dolor enim aliquam ad omnis consequatur.
                                    </p>
                                </a>
                                <div class="row mt-2">
                                    <div class="col-12 col-md-6">
                                        <div class="my-2 text-center"><i class="far fa-eye text-blue"></i><span
                                                class="ml-2 small text-danger">32 persone stanno guardando</span></div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <button class="btn btn-reverse w-100"><i class="far fa-comment-dots"></i><span
                                                class="ml-2">Contatta il venditore</span></button>
                                        <button class="btn btn-blue-border w-100 my-2 d-md-none"><i
                                                class="far fa-grin-stars"></i><span class="ml-2">Visualizza
                                                prodotto</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container my-5 py-5 d-none d-sm-block">
            <div class="row justify-content-center">
                <div class="col-8">
                    <div class="jumbotron jumbotron-fluid custom-jumbo text-center">
                        <div class="container">
                            <h2 class="h1">Inserisci il tuo annuncio</h2>
                            <p class="lead">Puoi inserire un tuo annuncio in pochi semplici passi.</p>
                            <button class="btn btn-orange my-2 my-sm-0"> <i class="fas fa-plus mr-1"></i> Inserisci
                                annuncio</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron jumbotron-fluid custom-jumbo-particles mb-0">
            <div id="particles-js"></div>
            <div class="container">
                <h2 class="h3 mb-5 text-center text-uppercase text-blue">Il nostro servizio è offerto grazie a:</h2>
                <div class="owl-carousel owl-theme partners">
                    <div class="item partners-img"> <img src="./media/yoshi.png" alt="partenr 1"></div>
                    <div class="item partners-img"><img src="./media/tacosaurus.jpeg" alt="partner 2"></div>
                    <div class="item partners-img"><img src="./media/philosoraptor.jpeg" alt="partner 3"></div>
                    <div class="item partners-img"><img src="./media/furafic-park.jpg" alt="partner 4"></div>
                    <div class="item partners-img"><img src="./media/barney.jpg" alt="partner 5"></div>
                    <div class="item partners-img"><img src="https://picsum.photos/200" alt="partner 6"></div>
                    <div class="item partners-img"><img src="https://picsum.photos/200" alt="partner 7"></div>
                </div>
            </div>
        </div>
    </main>
    <footer class="px-5 pt-5">
        <div class="container-fluid">
            <div class="row">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-4 text-center"><img src="./media/logo-white.png" class="pr-2"
                                width="80" alt="logo footer"><span class="h3 title-name text-white">dino.it</span></div>
                        <div class="col-8 col-md-4">
                            <ul class="custom-list text-white p-0 m-3 text-center text-md-left">
                                <a class="custom-link" href="">
                                    <li class="my-2">Chi siamo</li>
                                </a>
                                <a class="custom-link" href="">
                                    <li class="my-2">Cosa facciamo</li>
                                </a>
                                <a class="custom-link" href="">
                                    <li class="my-2">Lavora con noi</li>
                                </a>
                                <a class="custom-link" href="">
                                    <li class="my-2">Diventa partner</li>
                                </a>
                            </ul>
                        </div>
                        <div class="col-12 col-md-4">
                            <h5 class="mb-2 text-white text-center text-md-left">Iscrivi alla newsletter</h5>
                            <form>
                                <div class="row">
                                    <div class="col-8"><input type="email" class="form-control" id="footerInputEmail1">
                                    </div>
                                    <div class="col-4 pl-md-0"><button type="submit"
                                            class="btn btn-reverse">Iscriviti</button></div>
                                </div>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1"><small
                                            class="text-white">Accetto al trattamento dei dati</small></label>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-12">
                                    <div class="text-center text-md-left">
                                        <a class="mx-2" type="button" role="button"><i
                                                class="fab fa-facebook-f text-white"></i></a>
                                        <a class="mx-2" type="button" role="button"><i
                                                class="fab fa-twitter text-white"></i></a>
                                        <a class="mx-2" type="button" role="button"><i
                                                class="fab fa-linkedin-in text-white"></i></a>
                                        <a class="mx-2" type="button" role="button"><i
                                                class="fab fa-instagram text-white"></i></a>
                                        <a class="mx-2" type="button" role="button"><i
                                                class="fab fa-youtube text-white"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="border-color-white">
                    <div class="row">
                        <div class="col-12">
                            <p class="text-center text-muted"><small>Made with ❤️ in dino.it</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Modal -->
    <div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-round">
                <div class="modal-header text-center">
                    <h5 class="modal-title">Accedi</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="p-2">
                        <div class="form-group">
                            <label for="signInEmaiInput">Email</label>
                            <input type="email" class="form-control my-focus" id="signInEmaiInput"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="signInPasswordInput">Password</label>
                            <input type="password" class="form-control my-focus" id="signInPasswordInput">
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="remberMeInput">
                            <label class="form-check-label" for="remberMeInput">Ricordami</label>
                        </div>
                        <button type="submit" class="btn btn-reverse w-100">Accedi</button>
                        <p class="mt-3"><small>Non sei ancora registrato?</small><span><a href="#"><small
                                        class="ml-2">Registrati</small></span></a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Modal -->
    <!-- Modal search -->
    <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-round">
                <div class="modal-header text-center">
                    <h5 class="modal-title">Cerca</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" class="initialForm p-3 ">
                        <div class="row">
                            <div class="col-md-12">
                                <div>
                                    <label for="whatInput"><small>Cosa cerchi?</small></label>
                                    <input type="email" class="form-control my-focus" id="whatInput"
                                        aria-describedby="emailHelp" placeholder="T-rex">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div>
                                    <label><small>In quale categoria?</small></label>
                                    <select class="custom-select my-focus">
                                        <option value="0" selected>Categoria1</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <label for="exampleInputEmail1"><small>Dove?</small></label>
                                    <input type="email" class="form-control my-focus" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Jurassic Parks">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-reverse w-100 mt-3"><i
                                        class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Modal -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a6b5772942.js" crossorigin="anonymous"></script>
    <script src="https://cdn.boomcdn.com/libs/owl-carousel/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script src="./scripts.js"></script>

</body>

</html>