<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Personal CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- Owl -->
    <link rel="stylesheet" href="https://cdn.boomcdn.com/libs/owl-carousel/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdn.boomcdn.com/libs/owl-carousel/2.3.4/assets/owl.theme.default.min.css">
    <!-- /Owl -->
    <title>dino.it - Product</title>
</head>

<body>
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light py-2 py-md-4 mt-2 mt-md-0 sticky-top">
        <div class="container">
            <a class="navbar-brand" href="#"> <img id="logo" class="pr-2" width="80px" src="./media/logo.png"
                    alt="logo"><span class="h3 title-name">dino.it</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar"
                aria-expanded="false" aria-label="Toggle navigation">
                <span> <i class="fas fa-bars"></i> </span>
            </button>
            <div class="collapse navbar-collapse text-center" id="mainNavbar">
                <ul class="navbar-nav  mt-4 mt-md-0 mx-0 mx-md-auto">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">Categoria 1<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">Categoria 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">Categoria 3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">Categoria 4</a>
                    </li>
                </ul>
                <a data-toggle="modal" data-target="#signInModal" class="nav-link text-dark ml-0 ml-md-auto"
                    href="#">Accedi <span class="sr-only">(current)</span></a>
                <a class="nav-link text-dark" href="#">Registrati</a>
                <button class="btn btn-orange my-2 my-sm-0"> <i class="fas fa-plus mr-1"></i> Inserisci
                    annuncio</button>
            </div>
        </div>
    </nav>
    <header class="not-main">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="col-12 col-lg-8 d-flex flex-column justify-content-center">
                    <h1 class="text-white font-weight-bold mb-3 mb-md-0 text-center order-first">Benvenuto {{Revisor}}
                    </h1>
                    <p class="text-center text-white mt-3">Ci sono n annunci da revisionare</p>
                </div>
            </div>
        </div>
        <svg id="" preserveAspectRatio="xMidYMax meet" class="svg-separator sep5" viewBox="0 0 1600 200"
            style="display: block;" data-height="200">
            <polygon class="" style="fill: rgb(255, 255, 255);"
                points="1488,134 1304,100 1068,152 909.935,92.044 672,198 364,142 242,32 -4,95 -4,204 1604,204 1604,0 ">
            </polygon>
            <polygon class="" style="opacity: 1;fill: #95a5a6;"
                points="672,198 364,142 242,32 -4,95 -4,82.333 242,32 374,136 "></polygon>
            <polygon class="" style="opacity: 1;fill: #95a5a6;" points="894,86 672,198 909.935,92.044 "></polygon>
            <polygon class="" style="opacity: 1;fill: #6c7a89;"
                points="1068,152 1302,86 1486,126 1604,0 1488,134 1304,100 "></polygon>
        </svg>
    </header>
    <main>
        <div class="container my-5">
            <div class="row align-items-center">
                <div class="col-12 col-lg-9">
                    <div class="horizzontal-card mt-5 mt-md-0 mb-5">
                        <div class="row">
                            <div class="col-12 col-md-5">
                                <div id="revisorCarousel" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#revisorCarousel" data-slide-to="0" class="active"></li>
                                        <li data-target="#revisorCarousel" data-slide-to="1"></li>
                                        <li data-target="#revisorCarousel" data-slide-to="2"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="./media/p-1.jpg" class="d-block w-100" alt="{{product-image}}">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="./media/p-2.jpg" class="d-block w-100" alt="{{product-image}}">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="./media/p-3.jpg" class="d-block w-100" alt="{{product-image}}">
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#revisorCarousel" role="button"
                                        data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#revisorCarousel" role="button"
                                        data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-12 col-md-7 pl-md-0 d-flex flex-column justify-content-center">
                                <div class="mt-4">
                                    <a class="custom-link" href="#">
                                        <h3 class="d-inline">Product title</h3>
                                    </a>

                                </div>
                                <p class=" my-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                    Repellat
                                    dignissimos quos dolorum, facilis dolores doloremque, quis fugit tenetur sed
                                    totam
                                    molestiae error praesentium maiores dolor enim aliquam ad omnis consequatur.
                                </p>
                                <div class="row mt-2">
                                    <div class="col-12 col-md-6">
                                        <button class="btn btn-outline-danger corner-radius mr-2"><span
                                                class="ml-2">Scarta</span></button>
                                        <button class="btn btn-reverse my-2 "><span
                                                class="ml-2">Conferma</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 order-first">
                    <p class="m-0">asd</p>
                    <div class="progress mb-2">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <p class="m-0">asd</p>
                      <div class="progress mb-2">
                        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <p class="m-0">asd</p>
                      <div class="progress mb-2">
                        <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <p class="m-0">asd</p>
                      <div class="progress mb-2">
                        <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <p class="m-0">asd</p>
                      <div class="progress mb-2">
                        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                </div>
            </div>
        </div>
        <div class="container my-5">
            <div class="row align-items-center">
                <div class="col-12 col-lg-9">
                    <div class="horizzontal-card mt-5 mt-md-0 mb-5">
                        <div class="row">
                            <div class="col-12 col-md-5">
                                <div id="revisorCarousel" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#revisorCarousel" data-slide-to="0" class="active"></li>
                                        <li data-target="#revisorCarousel" data-slide-to="1"></li>
                                        <li data-target="#revisorCarousel" data-slide-to="2"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="./media/p-1.jpg" class="d-block w-100" alt="{{product-image}}">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="./media/p-2.jpg" class="d-block w-100" alt="{{product-image}}">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="./media/p-3.jpg" class="d-block w-100" alt="{{product-image}}">
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#revisorCarousel" role="button"
                                        data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#revisorCarousel" role="button"
                                        data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-12 col-md-7 pl-md-0 d-flex flex-column justify-content-center">
                                <div class="mt-4">
                                    <a class="custom-link" href="#">
                                        <h3 class="d-inline">Product title</h3>
                                    </a>

                                </div>
                                <p class=" my-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                    Repellat
                                    dignissimos quos dolorum, facilis dolores doloremque, quis fugit tenetur sed
                                    totam
                                    molestiae error praesentium maiores dolor enim aliquam ad omnis consequatur.
                                </p>
                                <div class="row mt-2">
                                    <div class="col-12 col-md-6">
                                        <button class="btn btn-outline-danger corner-radius mr-2"><span
                                                class="ml-2">Scarta</span></button>
                                        <button class="btn btn-reverse my-2 "><span
                                                class="ml-2">Conferma</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 order-first">
                    <p class="m-0">asd</p>
                    <div class="progress mb-2">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <p class="m-0">asd</p>
                      <div class="progress mb-2">
                        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <p class="m-0">asd</p>
                      <div class="progress mb-2">
                        <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <p class="m-0">asd</p>
                      <div class="progress mb-2">
                        <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <p class="m-0">asd</p>
                      <div class="progress mb-2">
                        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                </div>
            </div>
        </div>
        <div class="container my-5">
            <div class="row align-items-center">
                <div class="col-12 col-lg-9">
                    <div class="horizzontal-card mt-5 mt-md-0 mb-5">
                        <div class="row">
                            <div class="col-12 col-md-5">
                                <div id="revisorCarousel" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#revisorCarousel" data-slide-to="0" class="active"></li>
                                        <li data-target="#revisorCarousel" data-slide-to="1"></li>
                                        <li data-target="#revisorCarousel" data-slide-to="2"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="./media/p-1.jpg" class="d-block w-100" alt="{{product-image}}">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="./media/p-2.jpg" class="d-block w-100" alt="{{product-image}}">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="./media/p-3.jpg" class="d-block w-100" alt="{{product-image}}">
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#revisorCarousel" role="button"
                                        data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#revisorCarousel" role="button"
                                        data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-12 col-md-7 pl-md-0 d-flex flex-column justify-content-center">
                                <div class="mt-4">
                                    <a class="custom-link" href="#">
                                        <h3 class="d-inline">Product title</h3>
                                    </a>

                                </div>
                                <p class=" my-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                    Repellat
                                    dignissimos quos dolorum, facilis dolores doloremque, quis fugit tenetur sed
                                    totam
                                    molestiae error praesentium maiores dolor enim aliquam ad omnis consequatur.
                                </p>
                                <div class="row mt-2">
                                    <div class="col-12 col-md-6">
                                        <button class="btn btn-outline-danger corner-radius mr-2"><span
                                                class="ml-2">Scarta</span></button>
                                        <button class="btn btn-reverse my-2 "><span
                                                class="ml-2">Conferma</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 order-first">
                    <p class="m-0">asd</p>
                    <div class="progress mb-2">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <p class="m-0">asd</p>
                      <div class="progress mb-2">
                        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <p class="m-0">asd</p>
                      <div class="progress mb-2">
                        <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <p class="m-0">asd</p>
                      <div class="progress mb-2">
                        <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <p class="m-0">asd</p>
                      <div class="progress mb-2">
                        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="px-5 pt-5">
        <div class="container-fluid">
            <div class="row">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-4 text-center"><img src="./media/logo-white.png" class="pr-2"
                                width="80" alt="logo footer"><span class="h3 title-name text-white">dino.it</span></div>
                        <div class="col-8 col-md-4">
                            <ul class="custom-list text-white p-0 m-3 text-center text-md-left">
                                <a class="custom-link" href="">
                                    <li class="my-2">Chi siamo</li>
                                </a>
                                <a class="custom-link" href="">
                                    <li class="my-2">Cosa facciamo</li>
                                </a>
                                <a class="custom-link" href="">
                                    <li class="my-2">Lavora con noi</li>
                                </a>
                                <a class="custom-link" href="">
                                    <li class="my-2">Diventa partner</li>
                                </a>
                            </ul>
                        </div>
                        <div class="col-12 col-md-4">
                            <h5 class="mb-2 text-white text-center text-md-left">Iscrivi alla newsletter</h5>
                            <form>
                                <div class="row">
                                    <div class="col-8"><input type="email" class="form-control" id="footerInputEmail1">
                                    </div>
                                    <div class="col-4 pl-md-0"><button type="submit"
                                            class="btn btn-reverse">Iscriviti</button></div>
                                </div>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1"><small
                                            class="text-white">Accetto al trattamento dei dati</small></label>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-12">
                                    <div class="text-center text-md-left">
                                        <a class="mx-2" type="button" role="button"><i
                                                class="fab fa-facebook-f text-white"></i></a>
                                        <a class="mx-2" type="button" role="button"><i
                                                class="fab fa-twitter text-white"></i></a>
                                        <a class="mx-2" type="button" role="button"><i
                                                class="fab fa-linkedin-in text-white"></i></a>
                                        <a class="mx-2" type="button" role="button"><i
                                                class="fab fa-instagram text-white"></i></a>
                                        <a class="mx-2" type="button" role="button"><i
                                                class="fab fa-youtube text-white"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="border-color-white">
                    <div class="row">
                        <div class="col-12">
                            <p class="text-center text-muted"><small>Made with ❤️ in dino.it</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Modal -->
    <div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-round">
                <div class="modal-header text-center">
                    <h5 class="modal-title">Accedi</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="p-2">
                        <div class="form-group">
                            <label for="signInEmaiInput">Email</label>
                            <input type="email" class="form-control my-focus" id="signInEmaiInput"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="signInPasswordInput">Password</label>
                            <input type="password" class="form-control my-focus" id="signInPasswordInput">
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="remberMeInput">
                            <label class="form-check-label" for="remberMeInput">Ricordami</label>
                        </div>
                        <button type="submit" class="btn btn-reverse w-100">Accedi</button>
                        <p class="mt-3"><small>Non sei ancora registrato?</small><span><a href="#"><small
                                        class="ml-2">Registrati</small></span></a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Modal -->
    <!-- Modal search -->
    <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-round">
                <div class="modal-header text-center">
                    <h5 class="modal-title">Cerca</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" class="initialForm p-3 ">
                        <div class="row">
                            <div class="col-md-12">
                                <div>
                                    <label for="whatInput"><small>Cosa cerchi?</small></label>
                                    <input type="email" class="form-control my-focus" id="whatInput"
                                        aria-describedby="emailHelp" placeholder="T-rex">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div>
                                    <label><small>In quale categoria?</small></label>
                                    <select class="custom-select my-focus">
                                        <option value="0" selected>Categoria1</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <label for="exampleInputEmail1"><small>Dove?</small></label>
                                    <input type="email" class="form-control my-focus" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Jurassic Parks">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-reverse w-100 mt-3"><i
                                        class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Modal -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a6b5772942.js" crossorigin="anonymous"></script>
    <script src="https://cdn.boomcdn.com/libs/owl-carousel/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script src="./scripts.js"></script>

</body>

</html>